<a href="https://colab.research.google.com/github/hizieun/ML-yahac/blob/main/yahac_CNN_Conv2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

컨볼루션에 대한 이해와 컨볼루션 레이어의 사용법을 익힙니다.

컨볼루션 필터의 역할을 중심으로 컨볼루션 레이어에 대한 이해를 합니다. 

컨볼루션 연산이 어떻게 이루어 지는지 확인해 봅니다.

※ 필터셋

3차원 형태로 된 가중치의 모음

필터셋 하나는 앞선 레이어의 결과인 "특징맵" 전체를 본다.

필터셋 갯수 만큼 특징맵을 만든다.

**라이브러리 사용**

In [1]:
import tensorflow as tf
import pandas as pd

데이터 준비

In [2]:
(var_x, var_y), _ = tf.keras.datasets.mnist.load_data()
var_x = var_x.reshape(60000, 28, 28, 1)
var_y = pd.get_dummies(var_y)
print(var_x.shape, var_y.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

모델 생성

In [4]:
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics=['accuracy'])

모델 학습

In [5]:
model.fit(var_x, var_y, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 45s 23ms/step - loss: 1.2145 - accuracy: 0.8891
Epoch 2/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0699 - accuracy: 0.9806
Epoch 3/10
1875/1875 [==============================] - 46s 24ms/step - loss: 0.0457 - accuracy: 0.9867
Epoch 4/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0298 - accuracy: 0.9908
Epoch 5/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0246 - accuracy: 0.9932
Epoch 6/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0218 - accuracy: 0.9941
Epoch 7/10
1875/1875 [==============================] - 46s 24ms/step - loss: 0.0194 - accuracy: 0.9945
Epoch 8/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0166 - accuracy: 0.9953
Epoch 9/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0154 - accuracy: 0.9961
Epoch 10/10
1875/1875 [==============================] - 45s 24ms/step - loss: 0.0178 - accuracy: 0.9956

모델 이용

In [6]:
pred = model.predict(var_x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

정답 확인

In [7]:
var_y[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

모델 확인

In [8]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_1 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________